.home-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home-product-card {
    width: 28%; 
    padding: 12px;
    margin-bottom: 40px;
}
.home-prod-img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}
/* -------------------- */
/* // 790 * 1440 (Macbook Air M1) */
/* 1980 width : normal desktop */

/* ----------------Home-import-export---------- */
.home-export-container { 
    display: flex;
    margin-bottom: 40px;
}
.home-export-text {
    width: 50vw;
    padding-top: 40px;
    padding-bottom: 40px;
}
.home-export-img {
    width: 50vw;
}
@media screen and (max-width: 991px) {
    /* start of large tablet styles */
}
@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    .home-export-container { 
        flex-direction: column;
    }
    .home-export-text {
        width: 100vw;
        padding-top: 40px;
    }
    .home-export-img {
        width: 100vw;
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 479px) {
    /* start of phone styles */
}