.prod-container {
    margin-top: 50px;
    margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
    .prod-container {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 479px) {
    .prod-container {
        margin-top: 15px;
        margin-bottom: 10px;
    }
}