body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --theme-link: #0272bd;
  --theme-dark : #141619;
  --theme-bright : #fdc828;

  --theme-black : #141619;
  --theme-grey : #2C2E3A;
  --theme-blue : #050A44;
  --theme-vibrant-blue : #0A21C0;
  --theme-light-grey : #B3B4BD;
}